dill~=0.3.4
tblib~=1.7.0
setuptools~=59.6.0
numpy~=1.21.4
python-daemon
six~=1.16.0
pandas~=1.3.5
requests~=2.26.0
push~=0.3.10
tornado~=6.1
pysyncobj~=0.3.10
psutil~=5.8.0
PyGithub
websockets~=10.1
websocket~=0.2.1
gevent~=21.12.0
GPUtil~=1.4.0
lock~=2018.3.25.2110
schedule